<div class="container">
<div>
    <h1>Restaurante FastFood</h1>
    <h6>Pedidos ingresados:</h6>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripcion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of pedidonotocar">
              <th scope="row">{{p.number}}</th>
              <td>{{p.name}}</td>
              <td>{{p.description}}</td>
            </tr>
          </tbody>
    </table>
</div>
<div class="row">
<div class="col-4"><app-pos (pedido)="onPedidoRecibido($event)"></app-pos></div>
<div class="col-4">
  <app-kitchen [pedidoingresado]="pedido" (pedido)="onPedidoCocinado($event)"></app-kitchen>
</div>
<div class="col-4"><app-delivery [pedidoingresado]="finalizar"></app-delivery></div>

</div>



</div>