<div class="container">
<div>
    <h1>Restaurante FastFood</h1>
    <h6>Pedidos ingresados:</h6>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Numero</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>pedro</td>
              <td>muzza doble</td>
              <td>300</td>
              <td>Estaso</td>
            </tr>
          </tbody>
    </table>
</div>

<app-delivery></app-delivery>
<app-pos></app-pos>
<app-kitchen></app-kitchen>
</div>