<div class="card">
  <div class="card-body">
    <h5>Pendiente de cocina</h5>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Descripción</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of pedidoingresado, let i = index">
          <th scope="row">{{p.number}}</th>
          <td>{{p.description}}</td>
          <td><button class="btn btn-primary" (click)="COcinar(p, i)" [disabled]="botonDeshabilitado">Cocinar</button></td>
        </tr>
      </tbody>
    </table>

    <h6>Pedidos en Cocción</h6>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Descripción</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="Cocion">
          <th scope="row">{{cocinando.number}}</th>
          <td>{{cocinando.description}}</td>
          <td><button class="btn btn-primary" (click)="terminar()">Terminado</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
