<h5>Pendiente de cocina</h5>

<table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Descripcion</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>muzza doble</td>
          <td><button class="btn btn-primary">Cocinar</button></td>
        </tr>
      </tbody>
</table>

<h6>Pedidos en Cocción</h6>
<table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Juan carlo</td>
          <td>muzza doble</td>
          <td><button class="btn btn-primary">Cocinar</button></td>
        </tr>
      </tbody>
</table>